<div class="homepage">
  <h3 style="text-align: center;"> Homepage  <%= link_to("to Feed", feed_posts_path, :class => 'btn btn-secondary')%></h3>
  <div class="posts">
    <% @posts.each do |post| %>
      <%= render partial: 'post', locals: { post: post } %>
    <% end %>
    <%= paginate @posts %>
  </div>
</div>